__pycache__/
ahf_walkersw.egg-info/top_level.txt
ahf_walkersw.egg-info/SOURCES.txt
ahf_walkersw.egg-info/requires.txt
ahf_walkersw.egg-info/PKG-INFO
ahf_walkersw.egg-info/dependency_links.txt
ahf.egg-info/top_level.txt
ahf.egg-info/PKG-INFO
ahf.egg-info/requires.txt
ahf.egg-info/dependency_links.txt
ahf.egg-info/SOURCES.txt
PyAHF.egg-info/top_level.txt
PyAHF.egg-info/requires.txt
PyAHF.egg-info/PKG-INFO
PyAHF.egg-info/dependency_links.txt
PyAHF.egg-info/SOURCES.txt
build/lib/LICENSE
build/lib/PyAHF/__init__.py
dist/PyAHF-0.1.0-py3.10.egg
build/lib/PyAHF/Vtx2HalfFacet_Mapping.py
build/lib/PyAHF/__version__.py
build/lib/PyAHF/BaseSimplexMesh.py
build/lib/PyAHF/BasicClasses.py
build/lib/PyAHF/SimplexMath.py
build/lib/PyAHF/SimplexMesh.py
/src/PyAHF.egg-info
/experiment
